<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/layout/index::dynamic(~{::main})}">
<body>
	<main>
		<div class="row">
			<div th:each="p:${items}" class="card me-2"
				style="width: 20rem; float: left;">
				<img th:src="@{|/images/${p.image}|}" class="card-img-top">
				<div class="card-body">
					<h5 class="card-title" th:text="${p.name}"></h5>
					<p class="card-text" style="font-weight: bolder; color: red;">[[${p.price}]]₫</p>
					<button th:attr="ng-click=@{|cart.add(${p.id})|}" class="btn btn-primary">Thêm
						vào giỏ hàng</button>
				</div>
			</div>
		</div>
	</main>
</body>
</html>